.search-bar {
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  margin: 20px 0;
}

.search-bar input {
  border: none;
  height: 95%;
  width: 80%; /* Modificado para que el input ocupe el 80% del ancho */
  font-size: 16px; /* Modificado para que sea más legible */
  background-color: var(--color-gray);
  margin: 0 2%;
}

.search-bar .icon-button {
  width: 100%; /* Modificado para que todos los botones tengan el mismo ancho */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-gray);
  cursor: pointer;
  font-size: 20px; /* Modificado para que sea más legible */
}

/* Estilos para el botón de añadir */
.search-bar .icon-button.add {
  border-radius: 100px 0 0 100px;
}

/* Estilos para el botón de eliminar */
.search-bar .icon-button.delete {
  border-radius: 0 100px 100px 0;
  cursor: not-allowed;
}

.search-bar .icon-button.active-add {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

.search-bar .icon-button.active-delete {
  background-color: #f44336; /* Red */
  color: white;
  cursor: pointer;
}
.search-bar .addCart {
  position: relative; /* Agrega posición relativa al contenedor del botón de añadir */
  width: 10%; /* Modificado para que el botón de añadir tenga un ancho fijo */
  height: 100%;
}

.search-bar .addCart .addCartNumber {
  position: absolute;
  top: -10px;
  right: -10px; /* Posición relativa al contenedor del botón */
  background-color: #f44336; /* Red */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .deleteCart {
  position: relative; /* Agrega posición relativa al contenedor del botón de eliminar */
  width: 10%;
  height: 100%;
}

.search-bar .deleteCart .deleteCartNumber {
  position: absolute;
  top: -10px;
  right: -10px; /* Posición relativa al contenedor del botón */
  background-color: #f44336; /* Red */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.addIconPhoto {
  width: 30px;
}

.trashIconPhoto {
  width: 30px;
}
