.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.adminPage .info-banner {
  height: 10vh !important;
}

.adminPage .search-bar-2 {
  height: 7vh;
  max-height: 60px;
  margin: 2vh 2vh;
}

.adminPage .returnButton {
  position: fixed;
  left: 1%;
  top: 1%;
}

.adminPage .sidebar {
  top: 14%;
  left: 1%;
  height: 80%;
}

.alimentosBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60vh;
  background-color: var(--white-background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.divHeaders {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
}

.divHeaders button {
  background: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5vw;
  border: none;
}

.productoH {
  width: 30%;
  text-align: center;
  margin-left: 15%;
}

.productoH:hover {
  color: #00d0ff;
}

.cantidadH {
  width: 10%;
  text-align: center;
}

.cantidadH:hover {
  color: #00ff73;
}

.marcaH {
  width: 15%;
  text-align: center;
}

.marcaH:hover {
  color: #7300ff;
}

.stockH {
  width: 15%;
  text-align: center;
}

.stockH:hover {
  color: #fdce00;
}

.caducidadH {
  width: 15%;
  text-align: center;
}

.caducidadH:hover {
  color: #ff0000;
}

.productoH__active {
  color: #00d0ff;
}

.cantidadH__active {
  color: #00ff73;
}

.marcaH__active {
  color: #7300ff;
}

.stockH__active {
  color: #fdce00;
}

.caducidadH__active {
  color: #ff0000;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 2vh 2vh;
}

.anterior,
.siguiente {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #252b96;
}

.anterior svg,
.siguiente svg {
  width: 40px;
}

.anterior:disabled,
.siguiente:disabled {
  color: #848484;
  cursor: context-menu;
}

.paginacionField {
  text-align: center;
  width: 10%;
}

.top,
.bottom {
  background: none;
  border: none;
  cursor: pointer;
}

.saveButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  background-color: #252b96;
  border-radius: 50%;
  cursor: pointer;
}

.saveButtonXLSX {
  position: fixed;
  top: 70px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #185c37;
  border-radius: 50%;
  cursor: pointer;
}

.saveButtonXLSX img {
  width: 100%;
  height: 100%;
}

.saveButton img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.adminPage .sidebar .info-banner {
  margin-top: 20px;
  padding: 10px;
}

.adminPage .sidebar .info-banner p {
  font-size: 1.4vw;
}

/* resposive for mobile */

@media (max-width: 768px) {
  .adminPage .returnButton {
    width: 20px;
    height: 30px;
  }

  .adminPage .returnButton img {
    width: 10px;
    height: 10px;
    padding: auto;
  }
}
