.editProduct {
  width: 90%;
  height: 100vh; /* Establece la altura al 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer > * {
  height: 80px;
}

.editProduct .confPopUp {
  width: 50%;
  z-index: 9999 !important;
}

.editProduct .confPopUp .buttonContainer {
  width: 100%;
}

.editProductTitle {
  width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
  margin: 5vh 5vh;
  height: 20vh; /* Modifica la altura según tus necesidades */
}

.editProductTitle .info-banner {
  height: 50%;
}

.editProductTitle .returnButtonContainer {
  height: 45%;
  margin-top: 2%;
}

.editProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%; /* Ajusta el ancho al 100% del contenedor principal */
  height: 58vh; /* Ajusta la altura al 90% del contenedor principal */
  background-color: var(--white-background) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 3% 0 3% 0;
}

.editProductContainer button {
  width: 20%; /* Ajusta el ancho al 30% del contenedor padre */
  height: 40px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
}

.inputContainer > * {
  width: 40%;
}

/* Añade reglas para evitar el desbordamiento horizontal en caso de contenido grande */
input,
select {
  max-width: 100%; /* Evita que los elementos se desborden */
}

/*resposive for mobile*/

@media (max-width: 768px) {
  label {
    font-size: 0.8rem !important;
  }

  .errorMessage {
    font-size: 0.5rem !important;
  }

  .calendar-input {
    background-position: 95% 50%;
    background-size: 20px;
  }

  .editProductContainer button.add {
    width: 100px !important;
  }
}
